
p{
    text-align: left;
    background-color: rgb(236, 242, 255);
}
h1{
  background-color:rgb(204, 0, 255);

}
h1{
    color:rgb(114, 1, 1);
    text-align: center;
}
body{
    background-color: antiquewhite;
}
img{
    width: 20px;
   height: 50px;
}